doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Koa Server Pug
    link(href='/stylesheets/base.css' rel='stylesheet')
  body
    .magic-body
      h1
        #{title}
      h2
        #{subTitle}
      p
        Welcome to #{title}